.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form 
{
  background: rgb(255,255,255,0.8);
  margin: 0 auto;
  margin-top: 50px;
  width: 28%;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 1px #b7b7b7;
}

label
{
  color: #cb2031;
  margin: 10px 10px 10px 10px;
  padding: 2px 0px 2px 0px;
  font-weight: bold;
}

input, select, textarea 
{
  border-style: hidden;
  width: 100%;
  padding: 12px;
  border-radius: 7px;
  font-size: 13px;
  background: rgb(232, 240, 254) !important;
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
  box-shadow: 0px 0px 2px 1px #b7b7b7;
}

#sendForm 
{
font-weight: bold;
border-style: hidden;
width: 100%;
padding: 20px;
border-radius: 7px;
font-size: 13px;
box-sizing: border-box;
margin: 10px 0px 10px 0px;
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
box-shadow: 0px 0px 2px 1px #b7b7b7;
background: linear-gradient(rgb(52, 236, 85), green);
}

body {
  font-family: 'Anton', sans-serif;
  font-weight: bold;
}

nav, .tickets {
  background: rgb(255,255,255,0.8);
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 1px #b7b7b7;
}

nav .upMenu, .tck {
  text-align: center; 
  padding: 0px; 
  margin: 0px;
  border-radius: 10px;
  background: rgb(232, 240, 254) !important;
  box-shadow: 0px 0px 2px 1px #b7b7b7;
}

.tck {
  border-radius: 3px;
}

nav .upMenu .menu, .inf {
  display: inline-block; 
  list-style-type: none;  
  transition: 0.3s all ease-in-out;
  word-wrap: break-word;
}

nav .upMenu .menu a {
  letter-spacing: 1.4px; 
  display: block; 
  text-decoration: none; 
  padding: 10px;
  color: #cb2431;
}

.inf{
  width: 18%;
}

.inf  a {
  display: block; 
  text-decoration: none; 
  color: rgb(20,20,20);
  padding: 0px 15px 0px 15px;
  color: black;
  font-size: 10px;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
}